#div-intro-container1{
    width: 100%;
    padding-top: 10vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#image-chef{
    width: 20%;
}  

#image-logo-center{
    width: 50%;
}

#div-intro-container2 {
    position: relative;
    width: 100%;
    height : auto;
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#image-poster{
    width: 100%;
    height : auto;
    opacity: 0.2;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#div-text-left, #div-text-right, #div-text-center{
    font-family: "NanumSquare_acR";
    font-size: 25px;
    line-height: 45px;
    margin : 0px 100px;
    opacity: 0.8;
}
#div-text-left{
    display: flex;
    justify-content: start;  
    z-index: 2;

    margin-top: 150px;
    margin-bottom: 150px;
    text-align: left;

}

#div-text-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

#div-text-right {
    display: flex;
    justify-content: end;
    text-align: right;
}

/* 


*/

#div-intro-container3{
    width: 100%;
    height : auto;
    display: flex;
    align-items: end;
}

#image-chef-main1{
    width: 350px;
    margin-top: 150px;
    margin-right: 150px;
}

#div-chef-info{
    display: flex;
    flex-direction: column;
}

#p-chef-name {
    font-size: 70px;
    font-family: "NanumGothic";
    font-weight: bold;
    margin-bottom: 80px;
}

#div-chef-career{
    display: flex;
    margin-bottom: 50px;
}

#div-chef-carrer-left, #div-chef-carrer-right{
    font-family: "NanumGothic";
    font-size: 15px;
    line-height: 35px;
}
#div-chef-carrer-left{
    margin-right: 100px;
}


#div-intro-container4 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    box-sizing: border-box;
    align-items: end;
}


#image-chef-main2 {
    width: 250px;
    margin-top: 150px;
}



/* 

*/

#div-intro-container5 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    box-sizing: border-box;

}
#p-quiz-question {
    font-size: 50px;
    font-family: "BMHANNAPro";
    animation: slideAndDisappear 7s infinite linear;
    margin-bottom: 100px;
}

@keyframes slideAndDisappear {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    25% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(100%);
        opacity: 1;
    }

    75% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

#div-quiz-image-box{
    width: 100%;
    /* background-color: red; */
}

#div-quiz-image-box-row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

#image-quiz-image{
    width: 258px;
    height: 320px;
    border-radius: 20px;
    margin: 20px;
    transition: transform 1s ease;
    box-shadow: 5px 5px 5px gray;
    
}

#image-quiz-image:hover{
    transform: scale(1.2);
}